<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>2022-05-19 로그인페이지</title>
</head>
<body>
	<h1 th:text="${Title}"></h1>
	<form name="login" action="logint" method="post">
	<input type="text" name="userid" size="20" placeholder="아이디를 입력해주세요.">
	<input type="text" name="userpassword" size="20" placeholder="비밀번호를 입력해주세요.">
	<br>
	<button type="submit">로그인</button>
	</form>
	<button type="button" onclick="location.href='/Insert'">회원가입</button>
</body>
</html>