<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>2022-05-19 로그인페이지</title>
</head>
<body>
	<h1 th:text="${Title}"></h1>	
	<button type="button" onclick="location.href='/search'">조회</button>
	<button type="button" onclick="location.href='/insert'">등록</button>
	<button type="button" onclick="location.href='/update'">수정</button>
	<button type="button" onclick="location.href='/delete'">삭제</button>
	<button type="button" onclick="location.href='/allsearch'">전체조회</button>
</body>
</html>