<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>호스트 검색</title>
</head>
<body>
	<h1 th:text="${Title}"></h1>
	<form name="update" method="post">
	<!-- <input type="hidden" name="_method" value="put"/> -->
	<input type="hidden" name="seq" th:value="${seq}">
	Host명&nbsp;<input type="text" name="hostname" size="20" th:value="${hostname}">
	<br>
	<br>
	IP주소&nbsp;<input type="text" name="ip" size="20" th:value="${ip}">
	<br>
	<br>
	등록/수정시간&nbsp;<input type="text" name="date_time" size="20" th:value="${date_time}">
	<br>
	<br>
	상태확인&nbsp;<input type="text" name="date_time" size="20" th:value="${status}">
	<br>
	<br>
	마지막Alive시간&nbsp;<input type="text" name="date_time" size="20" th:value="${last_alive}">
	<br>
	<br>
	<button type="submit" formaction="/update">수정</button>
	<button type="submit" formaction="/delete">삭제</button>
	<button type="button" onclick="location.href='/main'">메인</button>
	</form>
</body>
</html>